form {
    display: flex;
    justify-content: center;
}

fieldset {
    margin-top: 1em;
    padding: 2em 5em;
}

legend {
    font-family: Bebas Neue;
    font-size: 2em;
    color: black;
    text-align: center;
}

fieldset div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
    margin-bottom: 1em;
}

label {
    font-family: Bebas Neue;
    font-size: 1.3em;
}

input {
    border: 1px solid black;
    border-radius: 0.3em;
    padding: 0.5em;
    width: 20em;
}

button.submit {
    font-family: Bebas Neue;
    font-size: 1.5em;
    padding: 0.3em 1.2em;
    margin-top: 1em;
    border-radius: 0.5em;
}

button.submit:hover {
    background: black;
    color: white;
    font-size: 2em;
    letter-spacing: 0.3em;
    transition: 0.3s ease-in-out
}

button.submit[disabled]:hover {
    background: grey;
    color: white;
    font-size: 2em;
    letter-spacing: 0.3em;
    transition: 0.3s ease-in-out
}

.error {
    font-family: Bebas Neue;
    font-size: 1.2em;
    color: red
}

input.ng-touched.ng-invalid::placeholder {
    font-size: 1.2em;
    font-weight: bold;
    color: red
}


