<header class="site-header">
    <div class="container">

        <div class="img-container">
            <a href="#">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/007/126/772/small/aviator-sunglasses-icon-vector.jpg"
                alt="sunglasses-image">
            </a>
        </div>

        <nav class="nav-bar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Catalog</a></li>
                <li><a href="#">Create</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>