<header class="site-header">
    <div class="container">

        <div class="img-container">
            <a routerLink="/home">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/007/126/772/small/aviator-sunglasses-icon-vector.jpg"
                alt="sunglasses-image">
            </a>
        </div>

        <nav class="nav-bar">
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/catalog">Catalog</a></li>
                <li><a routerLink="/create">Create</a></li>
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
                <li><a routerLink="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>