.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 2em;
}

li {
    display: block;
}

ul li a {
    font-size: 1.5em;
    font-family: Bebas Neue;
    text-decoration: none;
    color: black
}

ul li a:hover {
    font-size: 2em;
    letter-spacing: 0.3em;
}

.img-container {
    width: 6%;
}

img {
    display: block;
    width: 100%;
    height: auto;
}


