.background-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20em;
    background: url(https://images.unsplash.com/photo-1584036553516-bf83210aa16c?q=80&w=1280&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

h1{
    font-family: Anta;
    font-size: 4em;
    padding-top: 1em;
}

span {
    margin-bottom: 5em;
}

a {
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    font-family: Bebas Neue;
    color: black;
    padding: 0.3em 1.5em;
    border: 1px solid black;
    border-radius: 0.5em;  
}

a:hover {
    background: black;
    color: white;
    font-size: 2em;
    letter-spacing: 0.3em;
}



