<form action="" method="">
    <fieldset>
        <legend>Add Sunglasses</legend>

        <div class="brand">
            <label for="brand">Brand</label>
            <input type="text" id="brand" placeholder="Brand">
        </div>
        
        <div class="model">
            <label for="model">Model</label>
            <input type="text" id="model" placeholder="Model">
        </div>

        <div class="price">
            <label for="price">Price</label>
            <input type="number" id="price" placeholder="Price">
        </div>

        <div class="imageUrl">
            <label for="imageUrl">Image URL</label>
            <input type="text" id="imageUrl" placeholder="Image URL">
        </div>

        <div class="gender">
            <label for="gender">Gender</label>
            <input type="text" id="gender" placeholder="Gender">
        </div>

        <div class="shape">
            <label for="shape">Shape</label>
            <input type="text" id="shape" placeholder="Shape">
        </div>

        <div class="frameColor">
            <label for="frameColor">Frame color</label>
            <input type="text" id="frameColor" placeholder="Frame Color">
        </div>

        <div class="glassColor">
            <label for="glassColor">Glass color</label>
            <input type="text" id="glassColor" placeholder="Glass color">
        </div>

        <div class="submit-container">
          <input type="submit" value="Create" class="submit">  
        </div>
        
    </fieldset>

</form>