<form [formGroup]="form" (ngSubmit)="createHandler()">
    <fieldset>
        <legend>Add Sunglasses</legend>

        <div class="brand">
            <label for="brand">Brand</label>
            <input
            appFormStyles
            type="text" 
            id="brand" 
            placeholder="Brand"
            formControlName="brand"
            >
        </div>

        <ng-container *ngIf="form.get('brand')?.touched">
            <p class="error" *ngIf="form.get('brand')?.errors?.['required']">The brand is required</p>
            <p class="error" *ngIf="form.get('brand')?.errors?.['maxlength']">The brand can be a maximum of {{form.get('brand')?.errors?.['maxlength'].requiredLength}} characters</p>
        </ng-container>
        
        <div class="model">
            <label for="model">Model</label>
            <input
            appFormStyles
            type="text" 
            id="model" 
            placeholder="Model"
            formControlName="model"
            >
        </div>

        <ng-container *ngIf="form.get('model')?.touched">
            <p class="error" *ngIf="form.get('model')?.errors?.['required']">The model is required</p>
            <p class="error" *ngIf="form.get('model')?.errors?.['maxlength']">The model can be a maximum of {{form.get('model')?.errors?.['maxlength'].requiredLength}} characters</p>
        </ng-container>

        <div class="price">
            <label for="price">Price</label>
            <input
            appFormStyles
            type="number" 
            id="price" 
            placeholder="Price"
            formControlName="price"
            >
        </div>

        <ng-container *ngIf="form.get('price')?.touched">
            <p class="error" *ngIf="form.get('price')?.errors?.['required']">The price is required</p>
            <p class="error" *ngIf="form.get('price')?.errors?.['min']">The price can be a minimum of {{form.get('price')?.errors?.['min'].min}} €</p>
        </ng-container>

        <div class="imageUrl">
            <label for="imageUrl">Image URL</label>
            <input
            appFormStyles
            type="text" 
            id="imageUrl" 
            placeholder="Image URL"
            formControlName="imageUrl"
            >
        </div>

        <ng-container *ngIf="form.get('imageUrl')?.touched">
            <p class="error" *ngIf="form.get('imageUrl')?.errors?.['required']">The imageUrl is required</p>
        </ng-container>

        <div class="gender">
            <label for="gender">Gender</label>
            <select
            appFormStyles
            name="gender" 
            id="gender" 
            formControlName="gender"
            >
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="unisex">Unisex</option>
              </select>
        </div>

        <ng-container *ngIf="form.get('gender')?.touched">
            <p class="error" *ngIf="form.get('gender')?.errors?.['required']">The gender is required</p>
        </ng-container>

        <div class="shape">
            <label for="shape">Shape</label>
            <input 
            appFormStyles
            type="text" 
            id="shape" 
            placeholder="Shape"
            formControlName="shape"
            >
        </div>

        <ng-container *ngIf="form.get('shape')?.touched">
            <p class="error" *ngIf="form.get('shape')?.errors?.['required']">The shape is required</p>
            <p class="error" *ngIf="form.get('shape')?.errors?.['maxlength']">The shape can be a maximum of {{form.get('shape')?.errors?.['maxlength'].requiredLength}} characters</p>
        </ng-container>

        <div class="frameColor">
            <label for="frameColor">Frame color</label>
            <input
            appFormStyles
            type="text" 
            id="frameColor" 
            placeholder="Frame Color"
            formControlName="frameColor"
            >
        </div>

        <ng-container *ngIf="form.get('frameColor')?.touched">
            <p class="error" *ngIf="form.get('frameColor')?.errors?.['required']">The frame color is required</p>
            <p class="error" *ngIf="form.get('frameColor')?.errors?.['maxlength']">The frame color can be a maximum of {{form.get('frameColor')?.errors?.['maxlength'].requiredLength}} characters</p>
        </ng-container>

        <div class="glassColor">
            <label for="glassColor">Glass color</label>
            <input
            appFormStyles
            type="text" 
            id="glassColor" 
            placeholder="Glass color"
            formControlName="glassColor"
            >
        </div>

        <ng-container *ngIf="form.get('glassColor')?.touched">
            <p class="error" *ngIf="form.get('glassColor')?.errors?.['required']">The glass color is required</p>
            <p class="error" *ngIf="form.get('glassColor')?.errors?.['maxlength']">The glass color can be a maximum of {{form.get('glassColor')?.errors?.['maxlength'].requiredLength}} characters</p>
        </ng-container>

        <div class="submit-container">
          <button
          class="submit"
          [disabled]="form.invalid"
          >Create</button>
        </div>
        
    </fieldset>

</form>