/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anta&family=Bebas+Neue&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Slackside+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anta&family=Bebas+Neue&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Slackside+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* reset.css */
* {
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

/* typography.css */

html {
    font: 16px/1.5;
}

body, form, input, textarea, option, select, button {
    font: inherit;
}