.site-footer{
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    border-top: 1px solid black;
    background: rgb(59, 153, 59);
}

article {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

h3 {
    font-family: Bebas Neue;
    font-size: 1.5em;
    text-align: center;
}

p, a, a:hover {
    font-family: Roboto Condensed;
}

p {
    font-size: 1.2em;
}

a {
    font-weight: bold;
    color: black
}

a:hover {
    font-size: 1.5em;
    transition: 0.3s ease-in-out
}

i {
    margin-right: 0.5em;
}