<footer class="site-footer">
    <article class="aboutSite">
        <h3>About us:</h3>
        <p>The Sunglasses Shop is an online store that offers a wide variety of sunglasses</p>
    </article>

    <article class="contacts">
        <h3>Contacts:</h3>
        <p><i class="fa-solid fa-location-dot"></i> 3 Random Str., Troyan City, Lovech Province, Bulgaria</p>
        <p><i class="fa-solid fa-phone"></i> +35982159898</p>
        <p><i class="fa-solid fa-envelope"></i> info@sunglassesShop.bg</p>
        <p><i class="fa-solid fa-message"></i> To send a message click <a routerLink="/send-message">here</a></p>
    </article>
</footer>
